@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cover Type List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Create New Cover Type </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped text-center" style="width:100%">
    <thead>
        <tr>
           
            <th>Cover Type</th>
            
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.Name</td>
               
                
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary mx-2 " asp-controller="CoverType" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square "></i> Edit</a>
                        <a class="btn btn-danger mx-2" asp-controller="CoverType" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash3"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>



